{% extends 'base.html' %}

{% block title %}Play Madlib{% endblock %}

{% block content %}
<form action='/madlib'>
	<br>Enter the name of a Person: <input type="text" name="person">
	<br>Enter a Color: <input type="text" name="color">
	<br>Enter a Noun (not a person): <input type="text" name="noun">
	<br>Select A Few Adjectives: 
		<input type="checkbox" name = "adj" value="sparkly">Sparkly
		<input type="checkbox" name = "adj" value="smelly">Smelly
		<input type="checkbox" name = "adj" value="gross">Gross
		<input type="checkbox" name = "adj" value="pretty">Pretty
		<input type="checkbox" name = "adj" value="fluorescent">Fluorescent

	<br><input type="submit" value="Show me my Madlib!">
</form>
{% endblock %}